{% load static %}

<body class="hero-anime">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'base/styles.css' %}">

    <div class="navigation-wrap bg-light start-header start-style">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-dark">

                        <a class="navbar-brand" href="#!" target="_blank"><img src="{% static ''" alt="LOGO"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                    <a class="nav-link" href="{% url 'homepage:index' %}">Home</a>
                                </li>
                                <!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                    <a class="nav-link" href="{% url 'produce:index' %}">Products</a>
                                </li> -->
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <!-- <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Products</a> -->
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                                    <!-- <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Products</a> -->
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item " href="{% url 'produce:index' %}">Fruits & Vegetables</a>
                                        <a class="dropdown-item " href="{% url 'produce:meat_index' %}">Meat Products</a>
                                        <a class="dropdown-item " href="{% url 'produce:salt_index' %}">Salt Products</a>
                                    </div>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                    <!-- <a class="nav-link " href="{% url 'homepage:index' %}#contact ">Contact</a> -->
                                    <a class="nav-link " href="{% url 'homepage:contact' %}">Contact</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active ">
                                    <a class="nav-link " href="{% url 'homepage:services' %}">Services</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active ">
                                    <a class="nav-link " href="{% url 'homepage:about' %}">About</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active ">
                                    <a class="nav-link " href="{% url 'pricing:index' %}">Daily Prices</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="my-5 py-5 ">
    </div>


    <div class="container ">
        {% block page_content %}{% endblock %}
    </div>

    <br>
    <br>
    <br>
    <footer class="mainfooter " role="contentinfo ">
        <div class="footer-middle ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-3 col-sm-6 ">
                        <!--Column1-->
                        <div class="footer-pad ">
                            <h4>Links</h4>
                            <ul class="list-unstyled ">
                                <li>
                                    <a href="# "></a>
                                </li>
                                <li><a href="{% url 'homepage:index' %}">Home</a></li>
                                <li><a href="{% url 'homepage:contact' %}">Contact</a></li>
                                <li><a href="{% url 'homepage:about' %}">About Us</a></li>
                                <li><a href="{% url 'homepage:services' %}">Services</a></li>
                                <li><a href="{% url 'pricing:index' %}">Daily Prices</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 ">
                        <!--Column1-->
                        <div class="footer-pad ">
                            <h4>Products</h4>
                            <ul class="list-unstyled ">
                                <li><a href="{% url 'produce:index' %}">Fruits & Vegetables</a></li>
                                <li><a href="{% url 'produce:meat_index' %}">Meat Products</a></li>
                                <li><a href="{% url 'produce:salt_index' %}">Salt</a></li>
                                <li><a href="{% url 'produce:pulses_index' %}">Pulses</a></li>
                                <!-- <li><a href="# ">Privacy Policy</a></li>
                                <li><a href="# ">FAQs</a></li>
                                <li><a href="# ">Webmaster</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 ">
                        <!--Column1-->
                        <div class="footer-pad ">
                            <h4>Address</h4>
                            <ul class="list-unstyled ">
                                <li></li>
                                <li>Somewhere</li>
                                <li>in</li>
                                <li>Karachi</li>
                                <li>Pakistan</li>
                                <li>
                                    <a href="#">Location</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <h4>Follow Us</h4>
                        <ul class="social-network social-circle ">
                            <li><a href="# " class="icoFacebook " title="Facebook ">Facebook<i class="fas fa-facebook "></i></a></li>
                            <li><a href="# " class="icoLinkedin " title="Linkedin ">Instagram<i class="fas fa-linkedin "></i></a></li>
                        </ul>
                        <!-- <div class="container h-100">
                            <div class="d-flex justify-content-center h-100">
                                <div class="searchbar">
                                    <input class="search_input" type="text" name="" placeholder="Search...">
                                    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 copy ">
                        <p class="text-center ">&copy; Copyright 2021 - Tasalsul Group of Companies. All rights reserved.</p>
                        <p class="text-center ">&copy; Developed by Next Horizon</p>

                    </div>
                </div>


            </div>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js "></script>

    <script src="{% static 'base/script.js' %} "></script>
</body>