{% extends "base.html" %} {% load crispy_forms_tags %} {% load static %} {% block page_content %}
<link rel="stylesheet" type="text/css" href="{% static '/detail/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/detail/styles2.css' %}">
<title>TASALSUL | Produce | {{ product.product_name }}</title>
<header class="parallax" style="background-image: url('{% static product.product_banner %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="description ">
            <h1>
                TASALSUL | {{ product.product_name }}
                <p>{{ product.product_description }}</p>
            </h1>
        </div>
    </div>
</header>

<br>
<br>
<section class="aboutn">
    <div class="imgBx" style="background: url('{% static product.product_thumbnail %}');">
    </div>
    <div class="contentBx">
        <h2 class="heading">About Our {{ product.product_name }}</h2>
        <p class="text"> </p>
    </div>
</section>
<br>
<!-- Product Types. -->
<h1 class="text-center">Product Types</h1>
<div class="row">
    <!-- For loop by Django-->
    {% for product_type in product.product_types_set.all %}
    <div class="card hover">
        <div class="card-img hover" style="background-image: url('{% static product_type.product_picture %}');">
            <div class="overlay">
                <div class="overlay-content">
                    <!-- <p>Modal</p> -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">More Info</button>
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Some text in the modal.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </a>

        <div class="card-content">
            <!-- <a href="#!"> -->
            <h2>{{ product_type.product_type }}</h2>
            <p>Description will come here Use product origin...</p>
            <!-- </a> -->
        </div>
    </div>
    {% endfor %}
</div>
<!-- 
Client asked carousel for packaging
Taken from -> https://www.w3schools.com/bootstrap4/bootstrap_carousel.asp -->
<h1 class="text-center">Product Packaging</h1>
{% if product.product_packaging %}
<div class="row">
    <!-- The carousel will go here -->
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel indicators">
            {% for packaging in product.product_packaging_set.all %}
            <li data-target="#demo" data-slide-to="{{ packaging.pk }}"></li>
            {% endfor %}
        </ul>
        <!-- The slideshow -->
        <div class="carousel inner">
            {% for packaging in product.product_packaging_set.all %}
            <div class="carousel-item">
                <img src="{% static packaging.packaging_picture %}">
                <div class="carousel-caption">
                    <h2>{{ packaging.packaging_name }}</h2>
                    <p>Great packaging according to customer needs.</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
{% else %}
<p>No packaging options to Display at the moment!</p>
{% endif %}

<br>
<br>
<!-- # For the video and form.. -->
<h1 class="text-center">Get a Quote</h1>
<section class="aboutn">
    <!-- <div class="imgBx" style="background: url('{% static product.product_thumbnail %}'); background-repeat: no-repeat;">
    </div> -->
    <!-- The form will go here -->
    <!-- <div class="contentBx"> -->
    <div class="formbox">
        <!-- <h2 class="heading">About Our {{ product.product_name }}</h2>
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p> -->

        <form method="POST" id="contactProductForm" name="contactProductForm" class="contactProductForm">
            {% csrf_token %} {{ form|crispy }}
            <!-- <button type="submit">Submit</button> -->
            <input type="submit" name="send" value="Send" class="form-control">
        </form>

    </div>
</section>

<!-- <p>This product has no types</p> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'detail/script.js' %}"></script>
<script src="{% static 'detail/script2.js' %}"></script>


{% endblock %}