{% extends "base.html" %} {% load static %} {% block page_content %}
<link rel="stylesheet" type="text/css" href="{% static '/detail/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/detail/styles2.css' %}">
<title>TASALSUL | Produce | {{ product.product_name }}</title>
<header class="parallax" style="background-image: url('{% static product.product_banner %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="description ">
            <h1>
                TASALSUL | {{ product.product_name }}
                <p>{{ product.product_description }}</p>
            </h1>
        </div>
    </div>
</header>

<br>
<br>
<section class="aboutn">
    <div class="imgBx" style="background: url('{% static product.product_thumbnail %}');">
    </div>
    <div class="contentBx">
        <h2 class="heading">About Our {{ product.product_name }}</h2>
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>
</section>
<br>
<!-- Product Types. -->
<h1 class="text-center">Product Types</h1>
<div class="row">
    <!-- For loop by Django-->
    {% for product_type in product.product_types_set.all %}
    <div class="card hover">
        <div class="card-img hover" style="background-image: url('{% static product_type.product_picture %}');">
            <div class="overlay">
                <div class="overlay-content">
                    <!-- <p>Modal</p> -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">More Info</button>
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Some text in the modal.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </a>

        <div class="card-content">
            <!-- <a href="#!"> -->
            <h2>{{ product_type.product_type }}</h2>
            <p>Description will come here Use product origin...</p>
            <!-- </a> -->
        </div>
    </div>
    {% endfor %}
</div>

<h1 class="text-center">Product Packaging</h1>
<div class="row">
    <!-- The carousel will go here -->
    {% if product.product_packaging %}
    <!-- For loop by Django-->
    {% for packaging in product.product_packaging_set.all %}
    <div class="card hover">
        <div class="card-img hover" style="background-image: url('{% static packaging.packaging_picture %}');">
            <div class="overlay">
                <div class="overlay-content">
                    <p></p>
                </div>
            </div>
        </div>
        </a>

        <div class="card-content">
            <!-- <a href="#!"> -->
            <h2>{{ packaging.packaging_name }}</h2>
            <p>Description will come here Use product origin...</p>
            <!-- </a> -->
        </div>
    </div>
    {% endfor %} {% endif %}
</div>


<!-- # For the video and form.. -->
<section class="aboutn">
    <div class="imgBx" style="background: url('{% static product.product_thumbnail %}'); background-repeat: no-repeat;">
    </div>
    <!-- The form will go here -->
    <div class="contentBx">
        <h2 class="heading">About Our {{ product.product_name }}</h2>
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>
</section>

<!-- <p>This product has no types</p> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'detail/script.js' %}"></script>
<script src="{% static 'detail/script2.js' %}"></script>


{% endblock %}