{% extends "base.html" %} {% load static %} {% block page_content %}
<link rel="stylesheet" type="text/css" href="{% static '/detail/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/detail/styles2.css' %}">
<title>TASALSUL | Produce | {{ product.product_name }}</title>
<header class="parallax" style="background-image: url('{% static product.product_banner %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="description ">
            <h1>
                TASALSUL | {{ product.product_name }}
                <p>{{ product.product_description }}</p>
            </h1>
        </div>
    </div>
</header>

<!-- About the product -->
<div class="about" id="about">
    <div class="container">
        <h1 class="text-center">About Our {{ product.product_name }}</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="{% static product.product_banner %}" class="img-fluid">
                <!-- <span class="text-center">From the finest farms</span> -->
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 desc">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quasi tenetur fugit impedit officiis sed facilis neque consectetur et quis repudiandae, atque nihil tempora minus minima molestias delectus ea. Quo? Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Product Types. -->
<h1 class="text-center">Product Types</h1>
<div class="row">
    <!-- For loop by Django-->
    {% for product_type in product.product_types_set.all %}
    <div class="card hover">
        <div class="card-img hover" style="background-image: url('{% static product_type.product_picture %}');">
            <div class="overlay">
                <div class="overlay-content">
                    <p> Grade: {{ product_type.product_grade }}</p>
                </div>
            </div>
        </div>
        </a>

        <div class="card-content">
            <!-- <a href="#!"> -->
            <h2>{{ product_type.product_type }}</h2>
            <p>Origin: {{ product_type.product_origin }}</p>
            <!-- </a> -->
        </div>
    </div>
    {% endfor %}
</div>

<!-- <p>This product has no types</p> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'detail/script.js' %}"></script>
<script src="{% static 'detail/script2.js' %}"></script>


{% endblock %}