{% extends "base.html" %} {% load static %} {% block page_content %}
<link rel="stylesheet" type="text/css" href="{% static 'display/styles.css' %}">

<title>TASALSUL | Products | Meat</title>
<div class="banner">

    <img src="{% static 'images/products_cover.jpg' %}">

    <div class="content">
        <!-- <h2>Our Produce</h2> -->
        <!-- <p>Collected from the finest farms from all over the country.</p> -->
    </div>
</div>
{% if all_meat_categories %}
<div class="row">
    <!-- For loop by Django-->
    {% for meat in all_meat_categories %}
    <div class="card hover">
        <a class="hover" href="{% url 'produce:meat_detail' meat.id %}">
            <div class="card-img" style="background-image: url('{% static meat.meat_banner %}');">
                <div class="overlay">
                    <div class="overlay-content">
                        <p class="text">{{ meat.meat_animal }}</p>
                    </div>
                </div>
            </div>
        </a>

        <!-- <div class="card-content">
            <a href="{% url 'produce:detail' product.id %}">
                <h2>{{ product.product_name }}</h2>
                <p>{{ product.product_description }}</p>
            </a>
        </div> -->
    </div>
    {% endfor %}
</div>
{% else %}
<p>No products to Display at the moment!</p>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'display/script.js' %}"></script>

{% endblock %}